<section class="open-hours-section" id="open-hours">
  <h1>OPEN HOURS</h1>
  <div class="container fadein">
    <div class="row">
      <div class="col-lg-12">
        <h2>Tinakori</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> MONDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:00pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> TUESDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:00pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> WEDNESDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:00pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> THURTHDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:00pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> FRIDAY: </div>
      <div class="col-sm-6"> 9:00am - 7:00pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> SATURDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:00pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> SUNDAY: </div>
      <div class="col-sm-6"> CLOSED </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2>Waring Taylor</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> MONDAY: </div>
      <div class="col-sm-6"> 9:00am - 5:30pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> TUESDAY: </div>
      <div class="col-sm-6"> 9:00am - 5:30pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> WEDNESDAY: </div>
      <div class="col-sm-6"> 9:00am - 5:30pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> THURTHDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:30pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> FRIDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:30pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> SATURDAY: </div>
      <div class="col-sm-6"> 9:00am - 6:00pm </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> SUNDAY: </div>
      <div class="col-sm-6"> CLOSED </div>
    </div>
  </div>
  <div id="open-hours-link">
    <a class="next-page-link page-scroll btn btn-circle" href="#locations"><i class="glyphicon glyphicon-menu-down"></i></a>
  </div>
</section>
