{% set tProducts = [
    {
      title: 'Scissors and Clipper Cut',
      description: "A relaxed and enjoyable experience. We'll have you walking out of here looking sharp or shaggy - it's your preference.",
      price: '35.00'
    },
    {
      title: 'Hair Cut and Beard Trim',
      description: "Is your beard missing out the fun? It might be getting jelous of your hair...why not give it all a treat!",
      price: '42.00'
    },
    {
      title: 'Hair Wash',
      description: "No need to go to the shower after a hair cut - we can take care of that for you with our special hair wash.",
      price: '5.00'
    },
    {
      title: 'Multi Clipper Cut',
      description: "Bored of 1 size? Then this one is for you!",
      price: '28.00'
    },
    {
      title: 'Single Clipper Cut',
      description: "Nice and easy.",
      price: '25.00'
    },
    {
      title: 'Full Beard',
      description: "Lets focus on that beard.",
      price: '20.00'
    },
    {
      title: 'Children 0-5',
      description: "A hair cut so nice it keeps the other babies drooling!",
      price: '25.00'
    },
    {
      title: 'Children 12-16',
      description: "We know teens have got their own special style - we've got this covered for you!",
      price: '30.00'
    }
  ]
%}

{% set wtProducts = [
    {
      title: 'Scissors and Clipper Cut',
      description: "A relaxed and enjoyable experience. We'll have you walking out of here looking sharp or shaggy - it's your preference.",
      price: '32.00'
    },
    {
      title: 'Hair Cut and Beard Trim',
      description: "Is your beard missing out the fun? It might be getting jelous of your hair...why not give it all a treat!",
      price: '35.00'
    },
    {
      title: 'Hair Wash',
      description: "No need to go to the shower after a hair cut - we can take care of that for you with our special hair wash.",
      price: '5.00'
    },
    {
      title: 'Multi Clipper Cut',
      description: "Bored of 1 size? Then this one is for you!",
      price: '25.00'
    },
    {
      title: 'Single Clipper Cut',
      description: "Nice and easy.",
      price: '20.00'
    },
    {
      title: 'Full Beard',
      description: "Lets focus on that beard.",
      price: '15.00'
    },
    {
      title: 'Children 0-5',
      description: "A hair cut so nice it keeps the other babies drooling!",
      price: '20.00'
    },
    {
      title: 'Children 6-11',
      description: "A hair cut so nice it keeps the other babies drooling!",
      price: '25.00'
    },
    {
      title: 'Children 12-16',
      description: "We know teens have got their own special style - we've got this covered for you!",
      price: '27.00'
    }
  ]
%}

<section class="prices-section" id="prices">
  <h1>Our Prices</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-2"><h4>Waring Taylor</h4></div>
      <div class="col-lg-2"><h4>Tinakori</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Scissors and Clipper Cut</h4></div>
      <div class="col-lg-2"><h4>$32</h4></div>
      <div class="col-lg-2"><h4>$35</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Hair Cut and Beard Trim</h4></div>
      <div class="col-lg-2"><h4>$35</h4></div>
      <div class="col-lg-2"><h4>$42</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Multi Clipper Cut</h4></div>
      <div class="col-lg-2"><h4>$25</h4></div>
      <div class="col-lg-2"><h4>$28</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Single Clipper Cut</h4></div>
      <div class="col-lg-2"><h4>$20</h4></div>
      <div class="col-lg-2"><h4>$25</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Full Beard</h4></div>
      <div class="col-lg-2"><h4>$15</h4></div>
      <div class="col-lg-2"><h4>$20</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Hair Wash</h4></div>
      <div class="col-lg-2"><h4>$5</h4></div>
      <div class="col-lg-2"><h4>N/A</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Children 12-16</h4></div>
      <div class="col-lg-2"><h4>$27</h4></div>
      <div class="col-lg-2"><h4>$30</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Children 6-11</h4></div>
      <div class="col-lg-2"><h4>$25</h4></div>
      <div class="col-lg-2"><h4>$25</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-8"><h4>Children 0-5</h4></div>
      <div class="col-lg-2"><h4>$20</h4></div>
      <div class="col-lg-2"><h4>$25</h4></div>
    </div>
  </div>
  <p class="side-note">
    <small>
      * Cash and Eftpos (including all major credit cards) accepted.
      Pick up a concessions card and get your sixth cut 1/2 price. Prices subject to change.
    <small>
  </p>

</section>
